body {
  font-family: sans-serif;
}

.app {
  /* rounds panel + main panel */
  display: grid;
  grid-template-columns: 40% 58%;
  gap: 2%;
}

.main-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}